body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: linear-gradient(180deg, rgb(0, 0, 0)0%,rgb(40, 40, 40)100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

body,html{
    height: 100%;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 130%;
    align-self: center;
    justify-self: center;
    height: auto;
    border-radius: 14px;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(44, 44, 44);
}

form h2 {
    margin: 10px;
    color: white;
}

form img {
    width: 200px;
}

form input {
    background-color: #242424;
    color: white;
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 12px;
    margin: 10px 0;
}

form button {
    background-color: red;
    color: white;
    width: 70%;
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

form button:hover {
    background-color: rgb(255, 48, 48);
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}

#btn-form{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
}