body {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
}

header h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.bandeira {
  background-color: red;
  color: white;
  display: inline-flex;
  padding: 10px 30px;
  transform: skew(-30deg);
  margin-bottom: 20px;
}

.bandeira h1, .bandeira h2 {
  transform: skew(30deg);
  margin: 0;
  font-size: 2.5em;
}

.nav-link {
    color: red;
    font-weight: bold;
}

.nav-link:hover{
    color: red;
}

.nav-link:active {
    background-color: red;
    color: white;
}

.tab-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: auto;
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
}

form h4 {
    margin: 10px;
    color: white;
}

form input, form select {
    background-color: #242424;
    color: white;
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 12px;
    margin: 10px 0;
}

form button {
    background-color: red;
    color: white;
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

form button:hover {
    background-color: rgb(255, 48, 48);
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}

table {
    color: white;
    text-align: center;
}

.btn-danger {
    background-color: red;
    border: none;
    transition: 0.3s;
}

.btn-danger:hover {
    background-color: rgb(255, 48, 48);
    transform: scale(1.05);
}

.btn-warning {
    color: black;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}

.btn-warning:hover {
    transform: scale(1.05);
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.vazio {
    text-align: center;
    margin-top: 50px;
    color: gray;
}

.busca {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.busca input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #242424;
  color: white;
}

.busca button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  white-space: nowrap;
}

.busca button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.busca button[type="submit"]:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.busca button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.busca button[type="button"]:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}