body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    text-align: justify;
}

/* ====== CABEÇALHO ====== */
header {
    background-color: rgb(22, 22, 22);
    padding: 10px 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

header img {
    width: 170px;
    height: auto;
    margin-left: 20px;
}

header ul {
    justify-content: end;
    gap: 20px;
    padding-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav a {
    color: red !important;
    text-decoration: none;
    display: flex;
    font-weight: 550;
    justify-items: right;
}

/* ====== SEÇÃO INICIAL ====== */
.inicial {
    background: url('IMG/tela-inicial.png') no-repeat center center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: justify;
    position: relative;
    color: white;
}

.inicial::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.inicial h1 {
    padding: 70px;
    font-size: 50px;
    font-weight: bold;
    z-index: 2;
}

/* ====== BANDEIRA ====== */
.bandeira {
    background-color: red;
    color: white;
    display: inline-flex;
    padding: 10px 30px;
    transform: skew(-30deg);
    margin-bottom: 20px;
}

.bandeira h1, .bandeira h2 {
    transform: skew(30deg);
    margin: 0;
    font-size: 2.5em;
}

/* ====== PLANOS ====== */
.planos {
    background-color: rgb(22, 22, 22);
    padding: 40px;
    gap: 40px;
}

.planos-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.planos-texto p {
    color: white;
}

.opcoes-planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 20px;
}

.opcao-planos {
    background-color: rgb(44, 44, 44) !important;
    text-align: center;
    border-radius: 14px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.opcao-planos h3 {
    color: white;
    padding: 10px;
}

.opcao-planos img {
    width: 90%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 14px;
    border: 2px solid red;
}

.opcao-planos:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 5px red;
}

.opcao-planos button {
    background-color: red;
    color: white;
    width: 70%;
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

.opcao-planos button:hover {
    background-color: rgb(255, 48, 48);
    transform: scale(1.05);
}

.opcao-planos button:active {
    transform: scale(0.95);
}

/* ====== SOBRE ====== */
.sobre {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 40px;
}

.sobre-texto {
    width: 40%;
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobre-texto p {
    font-size: 1.1em;
    line-height: 1.6;
}

.sobre-img {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
}

.sobre-img img {
    width: 90%;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.sobre-img img:hover {
    transform: scale(1.05);
}

/* ====== FILIAIS ====== */
.filiais {
    background-color: white;
    padding: 40px;
    gap: 40px;
}

.filiais-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filiais h2 {
    color: red;
    padding-left: 105px;
    font-weight: bold;
}

.filiais-lista {
    display: flex;
    justify-content: space-around;
}


/* ====== FORMULÁRIOS ====== */
form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    width: 35%;
    height: auto;
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
}

form h3 {
    margin: 10px;
    color: white;
}

form input,
form select {
    background-color: #242424;
    color: white;
    width: 100%;
    border: none;
    border-radius: 14px;
    padding: 12px;
    margin: 10px 0;
}

form button {
    background-color: red;
    color: white;
    width: 70%;
    border: none;
    border-radius: 14px;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
}

form button:hover {
    background-color: rgb(255, 48, 48);
    transform: scale(1.05);
}

form button:active {
    transform: scale(0.95);
}

/* ====== AULAS COLETIVAS ====== */
.aulas-coletivas {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: 40px;
    gap: 40px;
}

.aulas-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card {
    background-color: rgb(44, 44, 44) !important;
    border-radius: 14px;
    width: 300px;
    height: 500px;
    padding: 15px;
    display: flex;
    text-align: center;
    transition: transform 0.5s, box-shadow 0.5s;
}

.card h3 {
    color: red;
}

.card p {
    color: white;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 5px red;
}

.card img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 14px;
    border: 2px solid red;
}

.agendar-aula {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 40px;
}

.tabela-horarios {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    width: 55%;
    height: auto;
    border-radius: 14px;
}

.tabela-horarios h3 {
    margin: 10px;
}

.tabela-horarios table {
    width: 95%;
}

/* ====== AVALIAÇÃO FÍSICA ====== */
.avaliacao-fisica {
    background-color: rgb(22, 22, 22);
    padding: 40px;
    gap: 40px;
}

.avaliacao-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.agendar-avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 15%;
}

.agendar-avaliacao img {
    height: 500px;
    width: auto;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

.agendar-avaliacao img:hover {
    transform: scale(1.05);
}

/* ====== SUPORTE ====== */
.suporte {
    padding: 40px;
    gap: 40px;
}

.suporte-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.suporte .nav-link {
    color: red;
    font-weight: bold;
}

.suporte .nav-link:hover{
    color: red;
}

.suporte .nav-link:active {
    background-color: red;
    color: white;
}

.suporte h2{
    color: red;
    font-weight: bold;
}

/* ====== RODAPÉ ====== */
footer {
    background-color: rgb(22, 22, 22);
    color: white;
    text-align: center;
    padding: 20px;
}